.container {
  width: calc(100% - 30px); /* Tojours 100% de la largeur - 15px de chaque côté pour garder une marge de lecture */
  max-width: 1280px; /* Dès qu'on dépassera 1280 px de large le contenu se fixera et sera centré */
  margin: 0 auto;
}

.container-fluid { max-width: none; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 0 10px;
}

/*Display flex*/
.display-flex{display: flex;}


/*Justify-content*/
.justify-content-center{ justify-content: center;}
.justify-content-end{ justify-content: flex-end;}
.justify-content-space-around{ justify-content: space-around;}
.justify-content-start{ justify-content: flex-start;}
.justify-content-space-between{justify-content: space-between;}
.justify-content-stretch{justify-content: stretch;}



/*Wrap*/
.wrap{flex-wrap: wrap;}
.flex-nowrap{ flex-wrap: nowrap; }
.flex-wrap-reverse{ flex-wrap: wrap-reverse; }


/*Flex direction*/
.flex-row{ flex-direction: row; }
.flex-row-reverse{ flex-direction: row-reverse; }
.flex-column{ flex-direction: column; }
.flex-column-reverse{ flex-direction: column-reverse; }

/*Align-items*/
.align-items-end{ align-items: flex-end; }
.align-items-start{ align-items: flex-start; }
.align-items-stretch{ align-items: stretch; }
.align-items-baseline{ align-items: baseline; }
.align-items-center{ align-items: center; }







.col-xs-1 { flex-basis: 8.33333%; }
.col-xs-2 { flex-basis: 16.66666%; }
.col-xs-3 { flex-basis: 25%; }
.col-xs-4 { flex-basis: 33.33333%; }
.col-xs-5 { flex-basis: 41.66666%; }
.col-xs-6 { flex-basis: 50%; }
.col-xs-7 { flex-basis: 58.33333%; }
.col-xs-8 { flex-basis: 66.66666%; }
.col-xs-9 { flex-basis: 75%; }
.col-xs-10 { flex-basis: 83.33333%; }
.col-xs-11 { flex-basis: 91.66666%; }
.col-xs-12 { flex-basis: 100%; }

.col-xs-offset-1 { margin-left: 8.33333%; }
.col-xs-offset-2 { margin-left: 16.66666%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-4 { margin-left: 33.33333%; }
.col-xs-offset-5 { margin-left: 41.66666%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-7 { margin-left: 58.33333%; }
.col-xs-offset-8 { margin-left: 66.66666%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-10 { margin-left: 83.33333%; }
.col-xs-offset-11 { margin-left: 91.66666%; }
.col-xs-offset-12 { margin-left: 100%; }

@media (min-width: 576px) {
  .col-sm-1 { flex-basis: 8.33333%; }
  .col-sm-2 { flex-basis: 16.66666%; }
  .col-sm-3 { flex-basis: 25%; }
  .col-sm-4 { flex-basis: 33.33333%; }
  .col-sm-5 { flex-basis: 41.66666%; }
  .col-sm-6 { flex-basis: 50%; }
  .col-sm-7 { flex-basis: 58.33333%; }
  .col-sm-8 { flex-basis: 66.66666%; }
  .col-sm-9 { flex-basis: 75%; }
  .col-sm-10 { flex-basis: 83.33333%; }
  .col-sm-11 { flex-basis: 91.66666%; }
  .col-sm-12 { flex-basis: 100%; }

  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66666%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66666%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66666%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66666%; }
  .col-sm-offset-12 { margin-left: 100%; }
}

@media (min-width: 768px) {
  .col-md-1 { flex-basis: 8.33333%; }
  .col-md-2 { flex-basis: 16.66666%; }
  .col-md-3 { flex-basis: 25%; }
  .col-md-4 { flex-basis: 33.33333%; }
  .col-md-5 { flex-basis: 41.66666%; }
  .col-md-6 { flex-basis: 50%; }
  .col-md-7 { flex-basis: 58.33333%; }
  .col-md-8 { flex-basis: 66.66666%; }
  .col-md-9 { flex-basis: 75%; }
  .col-md-10 { flex-basis: 83.33333%; }
  .col-md-11 { flex-basis: 91.66666%; }
  .col-md-12 { flex-basis: 100%; }

  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66666%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66666%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66666%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66666%; }
  .col-md-offset-12 { margin-left: 100%; }
}

@media (min-width: 992px) {
  .col-lg-1 { flex-basis: 8.33333%; }
  .col-lg-2 { flex-basis: 16.66666%; }
  .col-lg-3 { flex-basis: 25%; }
  .col-lg-4 { flex-basis: 33.33333%; }
  .col-lg-5 { flex-basis: 41.66666%; }
  .col-lg-6 { flex-basis: 50%; }
  .col-lg-7 { flex-basis: 58.33333%; }
  .col-lg-8 { flex-basis: 66.66666%; }
  .col-lg-9 { flex-basis: 75%; }
  .col-lg-10 { flex-basis: 83.33333%; }
  .col-lg-11 { flex-basis: 91.66666%; }
  .col-lg-12 { flex-basis: 100%; }

  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66666%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66666%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66666%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66666%; }
  .col-lg-offset-12 { margin-left: 100%; }
}

@media (min-width: 1200px) {
  .col-xl-1 { flex-basis: 8.33333%; }
  .col-xl-2 { flex-basis: 16.66666%; }
  .col-xl-3 { flex-basis: 25%; }
  .col-xl-4 { flex-basis: 33.33333%; }
  .col-xl-5 { flex-basis: 41.66666%; }
  .col-xl-6 { flex-basis: 50%; }
  .col-xl-7 { flex-basis: 58.33333%; }
  .col-xl-8 { flex-basis: 66.66666%; }
  .col-xl-9 { flex-basis: 75%; }
  .col-xl-10 { flex-basis: 83.33333%; }
  .col-xl-11 { flex-basis: 91.66666%; }
  .col-xl-12 { flex-basis: 100%; }

  .col-xl-offset-1 { margin-left: 8.33333%; }
  .col-xl-offset-2 { margin-left: 16.66666%; }
  .col-xl-offset-3 { margin-left: 25%; }
  .col-xl-offset-4 { margin-left: 33.33333%; }
  .col-xl-offset-5 { margin-left: 41.66666%; }
  .col-xl-offset-6 { margin-left: 50%; }
  .col-xl-offset-7 { margin-left: 58.33333%; }
  .col-xl-offset-8 { margin-left: 66.66666%; }
  .col-xl-offset-9 { margin-left: 75%; }
  .col-xl-offset-10 { margin-left: 83.33333%; }
  .col-xl-offset-11 { margin-left: 91.66666%; }
  .col-xl-offset-12 { margin-left: 100%; }
}

@media (min-width: 1400px) {
  .col-xxl-1 { flex-basis: 8.33333%; }
  .col-xxl-2 { flex-basis: 16.66666%; }
  .col-xxl-3 { flex-basis: 25%; }
  .col-xxl-4 { flex-basis: 33.33333%; }
  .col-xxl-5 { flex-basis: 41.66666%; }
  .col-xxl-6 { flex-basis: 50%; }
  .col-xxl-7 { flex-basis: 58.33333%; }
  .col-xxl-8 { flex-basis: 66.66666%; }
  .col-xxl-9 { flex-basis: 75%; }
  .col-xxl-10 { flex-basis: 83.33333%; }
  .col-xxl-11 { flex-basis: 91.66666%; }
  .col-xxl-12 { flex-basis: 100%; }

  .col-xxl-offset-1 { margin-left: 8.33333%; }
  .col-xxl-offset-2 { margin-left: 16.66666%; }
  .col-xxl-offset-3 { margin-left: 25%; }
  .col-xxl-offset-4 { margin-left: 33.33333%; }
  .col-xxl-offset-5 { margin-left: 41.66666%; }
  .col-xxl-offset-6 { margin-left: 50%; }
  .col-xxl-offset-7 { margin-left: 58.33333%; }
  .col-xxl-offset-8 { margin-left: 66.66666%; }
  .col-xxl-offset-9 { margin-left: 75%; }
  .col-xxl-offset-10 { margin-left: 83.33333%; }
  .col-xxl-offset-11 { margin-left: 91.66666%; }
  .col-xxl-offset-12 { margin-left: 100%; }
}
